@page
@model ParkWiseGUI.Pages.Index2
@{
    ViewData["Title"] = "Add Lots";
}

<h1>@ViewData["Title"]</h1>

<h2>Enter Parking Lot Address</h2>
<p>
    @Model.Message
</p>

<p>
    
</p>
<form>
    Address:
    <input type="text" name="address" id="adyy">
    <button onclick="submit">Submit</button>
</form>