@page
@model ParkWiseGUI.Pages.Index2
@{
    ViewData["Title"] = "Add Lots";
}

<h1>@ViewData["Title"]</h1>

<h2>Enter Parking Lot Address</h2>
<p>
    @Model.Message
</p>
<div>
    <label for="exampleFormControlInput1" class="form-label">Enter Lot Details</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Lot Address">
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Lot Name">
</div>

</div>

<div class="mb-3">
  <label for="formFile" class="form-label">Default file input example</label>
  <input class="form-control" type="file" id="formFile">
</div>
