@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-left">
    <h1>Hello, Company Name!</h1>
</div>

<div class="text-center">
    <h3>The time is @DateTime.Now</h3>
</div>

<div>
    <p>this page will have a summary of the lots under management, avaliable spots, etc.</p>
</div>